@use "../functions" as fn;

//
// Config Variables (Advanced)
//


$prefix-hover:"h" !default;
$prefixes-setters-text-sizes:"s", "t" !default;
$prefixes-setters-block-sizes:"u", "v" !default;

$getter-text-size:"k" !default;
$getter-size-margin:"m" !default;
$getter-coordinates:"n" !default;
$getter-size-padding:"p" !default;
//$getter-size-block:"q" !default;
$getter-size-border-radius:"r" !default;

//
// Variables
//

$base-size:16px;
$base-size-small:14px;
$size-multiplier:1.25;

$size-multipliers-map:(
  "-2":fn.power($size-multiplier, -2),
  "-1":fn.power($size-multiplier, -1),
  "1":fn.power($size-multiplier, 1),
  "2":fn.power($size-multiplier, 2),
  "3":fn.power($size-multiplier, 3),
  "4":fn.power($size-multiplier, 4),
  "5":fn.power($size-multiplier, 5),
);

// Set Base Variables

@mixin setBaseVars($map) {
  @each $size, $multiple in $map {
    --s#{$size}: $multiple;
  }
}

// Set Setters

// Set Getters

@mixin getters {
  .#{$getter-text-size}{}
  .#{$getter-margin}{}

  .#{$getter-coordinates}{}

  .#{$getter-padding}{}
  .#{$getter-border-radius}{}
}


@include setBaseVars($size-multipliers-map)
