$xs-sm:600px !default;
$sm-md:900px !default;
$md-lg:1369px !default;
$responsiveSizes:(
	"x":$xs-sm,
	"s":$sm-md,
	"m":$md-lg,
) !default;

@mixin media($from:null, $to:null) {
    @if $from and $to {
        @media screen and (min-width: $from) and (max-width: $to - 1px) {
            @content;
        }
    }
    @else if $from {
        @media screen and (min-width: $from) {
            @content;
        }
    }
    @else if $to {
        @media screen and (max-width: $to - 1px) {
            @content;
        }
    }
}

@mixin responsive($baseName, $suffix:false, $base:true) {
    @if $base {
        .#{$baseName} {
            @content; }
    }

    @each $name, $breakpoint in $responsiveSizes {
        @include media($to:$breakpoint) {
            @if $suffix {
                .#{$baseName}-#{$name} {
                    @content; }
            }
            @else {
                .#{$name}-#{$baseName} {
                    @content; }
            }
        }
    }
}
