$svgFill:$orange!default;
$svgStroke:$red!default;
$svgStrokeWidth:2!default;
$svgStrokeDashoffset:0!default;
$svgStrokeDasharray:0!default;
$cSvg:(
  //'f':$svgFill,
  //'sc':$svgStroke,
	'sw':$svgStrokeWidth,
	'sda':$svgStrokeDasharray,
	'sdo':$svgStrokeDashoffset,
)!default;
