$form-base-class:"input" !default; //main class for the form, applied to the container
$form-error-class:"error" !default;
$form-valid-class:"valid" !default;
$form-compact-class:"compact" !default;
$fc:$form-base-class; //shorter alias to the previous

$form-variables-prefix:form!default;

// Basic Style
$simple:(
  //"state-color":var(--light-subtitles), //Not in use
  "state-color-light":var(--metadata),
  //"state-color-dark":var(--subtitles), //Not in use

  "border":2px solid var(--form-state-color-light),
  "border-radius":var(--r),
  "box-shadow":"yes",

  "fieldset-padding":0,
  "fieldset-background":var(--metadata),

  "label-color":var(--subtitles),
  "label-font-size": calc(var(--s, 1) * 1em),
  "label-margin":0 0 .7em,
  "label-padding":0 1em,
  "label-compact-padding":0 .65em,

  "input-font-weight":normal,
  "input-background":transparent,
  "input-line-height":2em,
  "input-padding":1em 1em,
  "input-compact-padding":.4em .65em,
  "input-color":var(--x, var(--subtitles)),
  "input-caret-color":var(--y, var(--primary)),
  "input-placeholder-color":var(--dark-metadata),
  "input-font-size":calc(var(--s, 1) * var(--s1) * 1em),
  "input-disabled-color":var(--dark-metadata),
  "input-disabled-background":var(--background),
  "input-disabled-border":var(--dark-metadata),
  "input-focus-color":var(--paragraph),
  "input-focus-border-color":var(--y, var(--primary)),
  //"input-focus-background":var(--valid),//Not in use
  //"input-hover-color":var(--),
  "input-hover-border-color":var(--light-y, var(--light-primary)),

  "textarea-resize":none,

  "error-icon":"!",
  "valid-icon":"v",

  "description-color":var(--light-subtitles),
  "description-padding":0 1em,
  "description-margin":.7em 0 0,
  "description-font-size":calc(var(--s, 1) * 1em),

  "side-color":var(--z-on, var(--subtitles)),
  "side-background":var(--z-light, var(--background)),
);

$big:(
  "form-da":222
);


// Big Style

