@import '../variables/colors';
$textSizeHeadersMultiplier:1.4;
$default:$blue;
$textColor:$default;
$accent1:$teal;
$accent2:$orange;
$accent3:$blue;
$colorAccent1:$white;
$colorAccent2:$black;
$colorAccent3:$white;
