

$fontParagraphName:us;
$fontPRegular:"us";
$fontPBold:"usm";
$fontDefault:$fontParagraphName, "HK Grotesk Pro", "Garamond", "Baskerville", "Times", "Times New Roman", serif;

//$fontHLight:'PxLight';
$fontHeadersName:pxg;
$fontHeaders:$fontHeadersName, helvetica neue, "Helvetica", "Verdana", "Arial", sans-serif;
$fontWeightHeaders:bold;

$fontHRegular:"PxRegular";
$fontHBold:"PxBold";


$font-icon:"if";

