@use "../mixins/responsive";
@import "../vars/main";
@import "../vars/responsive";
@import "../vars/fonts";
@import "../vars/text";
@import "../vars/sizes";
//@import "../vars/text";

@mixin html-body() {
  /* --- Main  --- */
  html,
  body {
    height: 100%;
  }


  html {
    @include responsive.media($from:$sm-md) {
      font-size: var(--emsize-sm);
    }
    font-size: var(--emsize);
  }


  body {

    //min-width: $pageMinWidth;
    margin: 0;
    background: var(--background);
    overflow-x: $pageOverflowX;
    padding: 0;
    //font-size: $fontSize;
    line-height: $textLineHeightParagraph;
    color: var(--paragraph);
    font-family: var(--fp);
  }
}

@mixin hidden {
  /* --- Hidden --- */
  .h {
    display: none;
  }

  @include responsive.media($to:$xs-sm) {
    .h-xs {
      display: none;
    }
  }

  @include responsive.media($from:$xs-sm,$to:$sm-md) {
    .h-sm {
      display: none;
    }
  }

  @include responsive.media($from:$sm-md,$to:$md-lg) {
    .h-md {
      display: none;
    }
  }

  @include responsive.media($from:$md-lg) {
    .h-lg {
      display: none;
    }
  }
}
